@use "./../../theme/color" as c;
@import "./../../theme/size";

.primary_btn {
  background-color: c.$btn-bg-color;
  color: white;
  padding: $md;
  border-radius: 10px;
  border: none;
  margin: 3px;
}
