@import "./../../theme/color";

.container {
  padding: 0 0.5rem;

  .group__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;

    a {
      text-decoration: none;
    }
  }
}
