@use "./../../theme/color" as c;
@use "./../../theme/mixins" as m;

.navbar__container {
  @include m.flex;
  box-shadow: rgb(185, 185, 207) 1px 3px 6px;
  padding: 10px 0px;
  margin-bottom: 10px;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: c.$bg-1;
  color: c.$sec;

  a {
    color: c.$primary;
    text-decoration: none;
  }

  .navabar_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 500px) {
      margin-left: 50px;
    }
  }

  .navabar__right {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 500px) {
      margin-right: 50px;
    }

    a {
      margin-right: 15px;
      text-decoration: none;
      color: c.$sec;

      &:hover {
        font-size: 1.1rem;
        transition: 0.2s all ease-in;
      }
    }
  }
}
