@import "./theme/color";
* {
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $bg-2;
  color: $primary;
  min-width: 310px;
}

* {
  box-sizing: border-box;
}

.App {
  @media screen and (min-width: 800px) {
    max-width: 90%;
    margin: 0px auto;
  }
}

button {
  cursor: pointer;
}
